* {
  font-family: 'Unbounded', cursive;
}
body {
  background-color: black;
}
.hidden{
  display: none;
}
#login-form{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#clock{
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 16px;
}
#quote{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}
#todo-form{
  position: absolute;
  border-radius: 6px;
  background-color: antiquewhite;
  padding: 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#images{
  background-size: cover;
}
#greeting{
  position: absolute;
  background-color: white;
  padding: 16px;
}
ol{
  position: relative;
  font-size: 18px;
  padding: 12px 40px 12px 40px;
}